.card{
    background-color: aqua;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
}
.card-blue{
    background-color: rgb(211, 146, 236);
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
}